.wp-site-blocks {
  padding: 0;
}

/* <style id="et_fix_page_conta"> */
#page-container {
  padding-top: 0 !important;
}

.home.page-template-default.custom-background {
  background-color: #fff;
}

/* <style id="fit-vids-style"> */
.fluid-width-video-wrapper {
  width: 100%;
  position: relative;
  padding: 0;
}

.fluid-width-video-wrapper iframe,
.fluid-width-video-wrapper object,
.fluid-width-video-wrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
